/* 210210 이호철 수정 width 맞추기 위해 */
.main_container { width: 100%; margin: 0 auto; }
.swiper-container {
	height:380px;
	z-index: -1;
}
.swiper-wrapper {
	width: 80%;
}
.swiper-slide {
	text-align:center;
	display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center; /* 위아래 기준 중앙정렬 */
	justify-content:center; /* 좌우 기준 중앙정렬 */
	width: 100%;
	height: 380px;
	margin-top: -30px;
}
.swiper-slide .thumb {
	box-shadow:0 0 5px #555;
	width: 100%;
	max-width: 100%;
	height: 240px;
	z-index: -1;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
.swiper-slide .thumb:hover {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
}
.thumb_div {
	overflow: hidden;
}
.cont_div {
	width: 100%;
	height: 140px;
}
.a_content:link { text-decoration: none; color: #000000; }
.a_content:visited { text-decoration: none; color: #000000; }
.a_content:active { text-decoration: none; color: #000000; }
.a_content:hover { text-decoration: none; color: #000000; }
.main_memname { font-size: 11px; font-weight: bold; }
.main_like { font-size: 12px; color: #444444; font-weight: lighter; }
.main_like img { width: 9px; height: 9px; }
.main_lecname { font-size: 14px; font-weight: lighter; overflow: hidden; text-overflow: ellipsis; line-height: 18px; 
				height: 36px; margin-bottom: -25px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.main_price { font-size: 13px; }
.main_poss1 { padding: 3px; background-color: #EEEEEE; font-size: 10px; font-weight: bold; color: #444444; }
.main_poss2 { padding: 3px; background-color: #EEEEEE; font-size: 10px; font-weight: bold; color: #ff0000; }
.no-recent {
	text-align:center;
	display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center; /* 위아래 기준 중앙정렬 */
	justify-content:center; /* 좌우 기준 중앙정렬 */
	width: 100%;
	height: 380px;
	margin-top: -30px;
}

